version: 0.1
log:
  level: info
  fields:
    service: registry
storage:
  cache:
    blobdescriptor: inmemory
  filesystem:
    rootdirectory: /var/lib/registry
  delete:
    enabled: true
http:
  addr: :5000
  headers:
    X-Content-Type-Options: 
      - nosniff
    Access-Control-Allow-Origin: 
      - '*'
    Access-Control-Allow-Methods: 
      - 'HEAD'
      - 'GET'
      - 'OPTIONS'
      - 'DELETE'
      - 'POST'
      - 'PUT'
    Access-Control-Allow-Headers: 
      - 'Authorization'
      - 'Accept'
      - 'Cache-Control'
      - 'Content-Type'
health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3
