<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 All Rights Reserved: Copyright [2024] [ljwx]
 Open Source Agreement: Apache License, Version 2.0
 For educational purposes only, commercial use shall comply with the author's copyright information.
 The author does not guarantee or assume any responsibility for the risks of using software.

 Licensed under the Apache License, Version 2.0 (the "License").
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<mapper namespace="com.ljwx.modules.health.repository.mapper.TDeviceMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="TDeviceMessageResultMap" type="com.ljwx.modules.health.domain.entity.TDeviceMessage">
        <id column="id" property="id" />
        <result column="org_id" property="orgId"/>
        <result column="user_id" property="userId"/>
        <result column="device_sn" property="deviceSn"/>
        <result column="message" property="message"/>
        <result column="message_type" property="messageType"/>
        <result column="sender_type" property="senderType"/>
        <result column="receiver_type" property="receiverType"/>
        <result column="responded_number" property="respondedNumber"/>
        <result column="message_status" property="messageStatus"/>
        <result column="sent_time" property="sentTime"/>
        <result column="received_time" property="receivedTime"/>
        <result column="create_user" property="createUser"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="TDeviceMessageColumnList">
        org_id,
        user_name,
        create_user,
        create_user_id,
        create_time,
        update_user,
        update_user_id,
        update_time,
        message_id, device_sn, message, message_type, sender_type, receiver_type, responded_number, message_status, sent_time, received_time
    </sql>

    <!-- 高性能消息查询 - 利用sys_user的org_id优化 -->
    <select id="listMessagesByOrgOptimized" resultMap="TDeviceMessageResultMap">
        SELECT
            m.*,
            u.user_name,
            u.org_name as user_org_name,
            u.real_name as user_real_name
        FROM
            t_device_message m
        INNER JOIN sys_user u ON m.user_id = u.id
        WHERE m.is_deleted = 0
            AND u.org_id = #{orgId}
        <if test="customerId != null">
            AND m.customer_id = #{customerId}
        </if>
        <if test="messageType != null and messageType != ''">
            AND m.message_type = #{messageType}
        </if>
        <if test="messageStatus != null and messageStatus != ''">
            AND m.message_status = #{messageStatus}
        </if>
        <if test="deviceSn != null and deviceSn != ''">
            AND m.device_sn = #{deviceSn}
        </if>
        ORDER BY m.create_time DESC
    </select>

    <!-- 消息统计查询 - 按组织统计 -->
    <select id="getMessageStatsByOrg" resultType="java.util.Map">
        SELECT
            u.org_id,
            u.org_name,
            COUNT(*) as message_count,
            COUNT(CASE WHEN m.message_status = 'SENT' THEN 1 END) as sent_count,
            COUNT(CASE WHEN m.message_status = 'DELIVERED' THEN 1 END) as delivered_count,
            COUNT(CASE WHEN m.message_status = 'READ' THEN 1 END) as read_count,
            COUNT(CASE WHEN m.message_type = 'ALERT' THEN 1 END) as alert_message_count
        FROM
            t_device_message m
        INNER JOIN sys_user u ON m.user_id = u.id
        WHERE m.is_deleted = 0
        <if test="customerId != null">
            AND m.customer_id = #{customerId}
        </if>
        <if test="orgIds != null and orgIds.size() &gt; 0">
            AND u.org_id IN
            <foreach item="orgId" collection="orgIds" open="(" separator="," close=")">
                #{orgId}
            </foreach>
        </if>
        <if test="startTime != null">
            AND m.create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            AND m.create_time &lt;= #{endTime}
        </if>
        GROUP BY u.org_id, u.org_name
        ORDER BY message_count DESC
    </select>

    <!-- 用户消息响应性能分析 - 利用sys_user优化 -->
    <select id="getUserMessagePerformance" resultType="java.util.Map">
        SELECT
            m.user_id,
            u.user_name,
            u.org_name,
            u.org_id,
            COUNT(*) as total_messages,
            COUNT(CASE WHEN m.message_status = 'READ' THEN 1 END) as read_messages,
            AVG(TIMESTAMPDIFF(MINUTE, m.sent_time, m.received_time)) as avg_response_minutes,
            COUNT(CASE WHEN TIMESTAMPDIFF(MINUTE, m.sent_time, m.received_time) &gt; 30 THEN 1 END) as delayed_responses
        FROM
            t_device_message m
        INNER JOIN sys_user u ON m.user_id = u.id
        WHERE m.is_deleted = 0
            AND m.sent_time IS NOT NULL
            AND m.received_time IS NOT NULL
        <if test="orgId != null">
            AND u.org_id = #{orgId}
        </if>
        <if test="customerId != null">
            AND m.customer_id = #{customerId}
        </if>
        <if test="startTime != null">
            AND m.create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            AND m.create_time &lt;= #{endTime}
        </if>
        GROUP BY m.user_id, u.user_name, u.org_name, u.org_id
        HAVING total_messages &gt; 0
        ORDER BY avg_response_minutes ASC
    </select>

</mapper>
